summary::-webkit-details-marker {
    display: none;
}

article.wrapper {
    padding: 1rem 5%;
    
    section.content {
        padding-top: 1rem;

        section {
            p {
                &:nth-child(3), &:nth-child(6) {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}