
#toolbar {
  user-select: none;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  background-color: #2448bc;
  // opacity: .98; // Kan slåes fra, altså ikke nødvendig
  overflow-x: hidden;
  padding-top: 1rem;
  transition: .5s;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  // background-color: #e2e2e2;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 30px 10%;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, .16);
  // transition: margin-left .5s;
  // height: 60px;
  // min-width: 100vw;
  // position: relative;
  // z-index: 2;

  span.material-icons {
      // margin-right: 1rem;
      font-size: 2rem;
      color: #f0f0f0;
      padding-right: .5rem;
      align-self: flex-end;
      cursor: pointer;

  }

  figure {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    img {
      width: 10rem;
    }
  }

  ul {
    display: flex;
    align-self: center;
    justify-self: end;

    @media(max-width:1050px){
      display: none;
    }

    li {
      padding: 1rem;

      a {
        font-weight: 400;
        font-size: .8rem;
        text-transform: uppercase;
        color: #f0f0f0;
        white-space: nowrap;
        transition: color linear 150ms;

        &:hover {
          color: #2448bc;
        }
      }

      span {
        align-self: center;
        position: absolute;
        bottom: -0.2em;
        left: 50%;
        transform: translateX(-50%);
        display: none;
      }
    }
  }




}


#side-toolbar {
  user-select: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  background-color: #2448bc;
  opacity: .98; // Kan slåes fra, altså ikke nødvendig
  overflow-x: hidden;
  padding-top: 1rem;
  transition: .5s;
  span.material-icons {
      // margin-right: 1rem;
      font-size: 2rem;
      color: #f0f0f0;
      align-self: center;
      cursor: pointer;

  }
  ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem;

      // align-items: center;

      li {
        padding-bottom: .5rem;
        border-bottom: 1px solid #fff;
        details {

          color:#fff;
          summary {
            white-space: nowrap;
            font-size: 1rem;
            font-weight: 600;
            &::-webkit-details-marker {
              display: none;
            }
          }

          form {
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            padding: .8rem;
            border: 1px solid #fff;
            border-radius: 3px;
            width: 100%;
            min-width: 15rem;
            .input-container {

              display: flex;
              flex-direction: column;
              gap: .5rem;
              label {
                white-space: nowrap;
                font-size: .9rem;
                span {
                  &.check {
                    color: #37C845;

                  }
                }
              }
              input {
                width: 100%;
                border: 0;
                padding: .4rem .5rem;
                border-radius: 3px;
                min-width: 14rem;
              }
            }
            button {
              width: 100%;
              padding: 0.5rem 0.4rem;
              min-width: 14rem;

            }
          }
        }
          a {
          white-space: nowrap;
          padding: .25rem;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 600;
          display: block;
          color:#fff;
          transition: color 175ms ease-in-out;

              &:hover {
                  color:#111;
              }
          }
      }
  }
}
