<figure>
    <img id="headerimg" src="../../../assets/img/COLOURBOX7080728.jpg" alt="Header billede">
  </figure>
  <section  class="wrapper">
    <span class="breadcrumb"><a routerLink="/">FORSIDE</a> > DELTAGERLISTE</span>
      <section class="content" *ngIf="http.deltagerliste | async as data">
        <h1>{{data.title}}</h1>
        <section [innerHTML]="data.content"></section>
      </section>
      <form class="search" [formGroup]="participants">
        <input formControlName="keyword" type="text">
        <button [disabled]="!participants.valid" (click)="search()">Søg</button>
      </form>
      <section class="sort">
        <button (click)="sortId()">Sorter ud fra id</button>
        <button (click)="sortFirstnames()">Sorter ud fra fornavne</button>
        <button (click)="sortLastnames()">Sorter ud fra efternavne</button>
        <button (click)="sortCities()">Sorter ud fra byer</button>
        <!-- <button (click)="reverse()">Vend rækkefølgen om</button> -->
      </section>
      <section class="registrations" *ngIf="http.registrations">
        <section class="items">
          <span>Id</span>
          <span>Fornavn</span>
          <span>Efternavn</span>
          <span>Adresse</span>
          <span>By</span>
          <span>Postnummer</span>
          <span>Email</span>
        </section>
        <article *ngFor="let item of list">
          <p class="desktop">{{item.id}}</p>
          <p class="desktop">{{item.firstname}}</p>
          <p class="desktop">{{item.lastname}}</p>
          <p class="desktop">{{item.address}}</p>
          <p class="desktop">{{item.city}}</p>
          <p class="desktop">{{item.zipcode}}</p>
          <p class="desktop">{{item.email}}</p>
          <section class="mobile">
            <h2>{{item.id}} {{item.firstname}}, {{item.lastname}}</h2>
            <p>{{item.address}}, {{item.city}} {{item.zipcode}}</p>
            <p>{{item.email}}</p>
          </section>
        </article>
      </section>
      <!-- <section class="registrations" *ngIf="http.registrations | async as registrations">
        <article *ngFor="let item of registrations">
          <h2>{{item.firstname}} {{item.lastname}}</h2>
          <p>{{item.city}}</p>
        </article>
      </section> -->
      
  
  
  </section>
  