<figure>
  <img id="headerimg" src="../../../assets/img/header.jpg" alt="">
</figure>
<section  class="container">
  <section class="left">
    <section class="content" *ngIf="http.forside | async as data">
      <h1>{{data.title}}</h1>
      <section [innerHTML]="data.content"></section>
    </section>

  </section>
  <section class="right">
    <section class="distancer" *ngIf="http.distancer | async as data">
      <h2>{{data.title}}</h2>
      <section [innerHTML]="data.teaser"></section>
      <button routerLink="/distancer">Besøg siden</button>
    </section>
    <section class="runs" *ngIf="http.runs | async as runs">
      <article *ngFor="let run of runs">
        <h2>{{run.title}}</h2>
        <p>{{run.description}}</p>
        <button class="cta2" (click)="tilmeld(run.id)" type="button">TILMELD {{run.title}}</button>
      </article>

    </section>


  </section>

</section>
