figure {
  img#headerimg {
    object-position: top;
  }
}

section.container {
  display: grid;
  grid-template-columns: 1fr 60%;
  width: 90%;
  margin: 0 auto;
  gap: 2rem;
    section.left {
      
      section.content {
        
        h1 {
          font-size: 3.1rem;
        }
        section {

          p {
            padding-bottom: 1rem;
            text-align: justify;
          }
        }
      }
    }
    section.right {
      display: grid;
      align-content: end;
      section.distancer {
        max-width: 45rem;
        padding-bottom: 2rem;
        h2 {
          padding-bottom: .5rem;
        }
        button {
          margin-top: 1rem;
        }
      }
      section.runs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        article {

          h2 {

          }
            p {
              white-space: nowrap;
              height: 2rem;
              width: 200px;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          button {

          }
        }
      }
    }
}
