figure {

  img#headerimg {
    object-position: bottom;
  }
}

section.content {
  padding: 1rem 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h5 {
    color: #2448bc;
  }
  p {
    font-size: .83rem;
  }
}
  