figure {
    img#headerimg {
      object-position: center;
    }
}
section.main-wrapper {
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
    h1 {
        font-size: 3.5rem;
    }
    section {

        section.distances {
            max-width: 40rem;
        }
    }

    article{
        // background-color: red;
        ul {
            display: flex;
            gap: 1rem;
            @media (max-width: 580px) {
                flex-direction: column;
            }

            li {
                button {
                    margin-bottom: 1rem;
                    @media (max-width: 580px) {
                        width: 100%;
                    }
                    &.red{
                        background-color: #cb2525;
                    }
                    &.green {
                        background-color: #33cb25;
                        
                    }
                }
            }
        }

        section.context {
            article {
                
                p {
                    max-width: 40rem;
                    padding-bottom: 2rem;
                }
                section {
                    // display: flex;
                    div.ratings-container {
                        display: flex;
                        flex-direction: column;
                        // margin-left: 1rem;
                        gap: 1rem;

                        article {
                            position: relative;
                            border-radius: 3px;
                            padding: .5rem 1rem;
                            // margin: 1rem 0;
                            display: flex;
                            gap: 1rem;
                            &:first-child {
                                margin-top: 1rem;
                            }
                            &:nth-child(odd) {
                              background: #2447bc21;
                            }
                            &:nth-child(even) {
                              background: #2447bc5b;
                            }
                            section.first {
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;

                                p {
                                    display: flex;
                                    align-items: center;
                                    // justify-content: flex-end;
                                    span {
                                        color: orange;
                                        display: inline-block;
                                        margin-left: .5rem;
                                    }
                                }
                            }
                            section.second {
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;
                                transform: translateY(0.2rem);
                            }
                            span.material-icons {
                                cursor: pointer;
                                font-size: 3rem;
                                color: #cb2525;
                                position: absolute;
                                right: 2%;
                                top: 50%;
                                transform: translateY(-50%);
                                span.tooltip {
                                   
                                    visibility: hidden;
                                    opacity: 0;
                                    width: 130px;
                                    background-color: black;
                                    color: #fff;
                                    text-align: center;
                                    border-radius: 6px;
                                    padding: 5px 0;
                                    font-size: .8rem;
                                  
                                    /* Position the tooltip */
                                    position: absolute;
                                    top: 100%;
                                    right: 0;
                                    z-index: 1;
                                  }
                                  &:hover span.tooltip {
                                      visibility: visible;
                                      animation: fadeIn 200ms ease-in-out forwards; 
                                  }
                            }

                        }
                    }
                }
            }
        }
    }


}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
   }