<footer>
    <ul>
        <li><p class="rotate">INFORMATION</p></li>
        <li><a routerLink="/om">OM RØRDAL RUN</a></li>
        <li><a routerLink="/tilmelding">TILMELDING</a></li>
        <li><a routerLink="/distancer">DISTANCER</a></li>
    </ul>
    <ul>
        <li><p class="rotated">KONTAKTS OS</p></li>
        <li><p>+45 35 67 90 87</p></li>
        <li><p>rordalrun@mail.com</p></li>
    </ul>
    <button (click)="toTheInfiniteTop()"><span class="material-icons">arrow_upward</span></button>
</footer>