footer {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    width: 80%;
    padding: 2rem;
    background: #e4e6ec;

    @media (max-width: 650px) {
        flex-direction: column;
    }

    ul {

        display: flex;
        flex-direction: column;
        
        li {
            p.rotate, p.rotated {
                font-weight: 600;
                font-size: .75rem;
            }
            p.rotate, p.rotated {
                @media (max-width: 650px) {
                    transform: unset !important;
                }
            }
            p.rotate {
                transform: rotate(-90deg) translate(-25%, -445%);
            }
            p.rotated {
                transform: rotate(-90deg) translate(-15%, -500%);
            }
            a {
                transition: color 180ms ease-in-out;
                &:hover {
                    color: #808080;
                }
            }
        }
    }
}