/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: #2448bc;
  color: #fff;
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  padding: .6rem 1.7rem;
}

figure {
  img#headerimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);

  }
}

// input {
//   padding: 0.5rem 0.4rem;
//   margin-right: 0.5rem;
//   width: 24rem;
// }

textarea {
  resize: none;
}
span {
  &.breadcrumb {
    font-size: .8rem;
  }
  &.check {
    color: #37c845;
  }
  &.red {
    color: #c83737
  }
}
.cta {
  background-color: #37c845;
  margin-top: 1rem;
  padding: .3rem 1rem;
  font-weight: 600;
  display: block;
}