$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: orange;


article.widget {

  h2 {
    display: block;
  }

    section.average {
        position: relative;
        span {
            display: none;
            &.star {
                color: orange;
                display: inline;
            }

            &.half {
                // width: 2%;
                width: 1%;
                transform: translateY(4px);
                display: inline-block;
                overflow: hidden;
            }
        }

    }



}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    section.rating {

        .star-cb-group {
          /* remove inline-block whitespace */
          font-size: 0;
      
          * {
              font-size: 2rem;
          }
      
          /* flip the order so we can use the + and ~ combinators */
          unicode-bidi: bidi-override;
          direction: rtl;
      
          &>input {
              display: none;
      
              &+label {
                  /* only enough room for the star */
                  display: inline-block;
                  overflow: hidden;
                  text-indent: 9999px;
                  width: 1em;
                  white-space: nowrap;
                  cursor: pointer;
      
                  &:before {
                      display: inline-block;
                      text-indent: -9999px;
                      content: $unchecked-star;
                      color: $unchecked-color;
                  }
              }
      
              &:checked~label:before,
              &+label:hover~label:before,
              &+label:hover:before {
                  content: $checked-star;
                  color: orange;
                  text-shadow: 0 0 1px #333;
              }
          }
      
          /* the hidden clearer */
          &>.star-cb-clear+label {
              text-indent: -9999px;
              width: .5em;
          }
      
          &>.star-cb-clear+label:before {
              width: .5em;
          }
      
          &:hover>input+label:before {
              content: $unchecked-star;
              color: $unchecked-color;
              text-shadow: none;
          }
      
          &:hover>input+label:hover~label:before,
          &:hover>input+label:hover:before {
              content: $checked-star;
              color: $checked-color;
              text-shadow: 0 0 1px #333;
          }
      }
      
      
      
      }
    textarea {
        padding: .4rem .5rem;
    }
    button {
        position: relative;
        &:disabled {
            opacity: .85;
        }
        span.tooltip {
                                   
            visibility: hidden;
            opacity: 0;
            width: 200px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            font-size: .8rem;
          
            /* Position the tooltip */
            position: absolute;
            top: -100%;
            right: 0;
            z-index: 10;
          }
          &:hover span.tooltip {
              visibility: visible;
              animation: fadeIn 200ms ease-in-out forwards; 
          }
    }
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
   }